html {
     font-style: arial;
     font-size: 16px;
     background: url(../images/bgIMG.png);
     color: #D89EF3;
}

.projimg {
     border-radius: 25%;
}

.projContainer {
     display: flex;
     justify-content: space-between;
}

.planet{
     /*--d:300px;
     width: var(--d);
     height:var(--d);
     display:inline-block;
     margin: 5px;
     border-radius: 50%;
     box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
     background: 
       url(../images/projIMG1.png)
       0/auto 100%;
    /* animation: spin 20s linear infinite;*/
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 23px;
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
   }
   
   /*@keyframes spin {
     to {
       background-position:200% 0;
     }
   }*/



/*applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}
