html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    ;
    font-size: 16px;
    background: url(../images/bgIMG.png);
    color:bisque;
    /*color: #FCC1FF;
    color: #D89EF3;
    color: #C7F3FF;*/
}

.about {
    background-color: rgba(0,0,0,.333);
    padding: 2rem;
    margin: -2rem -.5rem 0 -.5rem;
}

.about > h3 > a {
    color: #C7F3FF;
    text-decoration: none;
}

.about > h3 > a:hover {
    text-decoration: underline;
}

.projimg {
    border-radius: 25%;
}

.projContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.projContainer > div:first-child {
    background: center/100% url(../images/projIMG3.png) no-repeat;
}

.projContainer > div:last-child {
    background: center/100% url(../images/projIMG2.png) no-repeat;
}


.planet{
    /*--d:300px;
    width: var(--d);
    height:var(--d);
    display:inline-block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    background: 
      url(../images/projIMG1.png)
      0/auto 100%;
   /* animation: spin 20s linear infinite;*/
   text-align: center;
   width: 20rem;
   height: 20rem;
   display: inline-block;
   margin: 23px;
   border-radius: 50%;
   box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
   background: center/100% url(../images/projIMG1.png) no-repeat;
  }

  .planet > h4 {
    font-weight: 350;
    color: #C7F3FF;
}

.planet > p {
    padding: .5rem 2.5rem .5rem 2.5rem;
}

    .planet > a {
        text-decoration: none;
        color: #C7F3FF;
    }

a:hover {
    text-decoration: underline;
}

  
  /*@keyframes spin {
    to {
      background-position:200% 0;
    }
  }(*/